build/
build-*/
.vs/
out/
CMakeUserPresets.json
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.user
*.sdf
*.opensdf
*.suo
*.vcxproj.user
.cache/
.idea/
.vscode/
__pycache__/
*.pyc
*.ppm
*.bmp
*.raw
*.ncu-rep
*.qdrep
*.nsys-rep
compile_commands.json
!/results/.gitkeep
tools/
*.zip
